<h2>Write a review for </h2>
<div *ngIf="flash">
	<h3>Errors!</h3>
	<h4 *ngFor="let message of messages">{{ message }}</h4>
	<hr>
</div>
<button [routerLink]="['/restaurants']">Back</button>
<form (submit)="onSubmit()">
	<p> {{ review | json }} </p>
	<input type="text" [(ngModel)]="restaurant.name" [ngModelOptions]="{standalone: true}" value="restaurant.name">
	<input type="text" [(ngModel)]="restaurant.cuisine" [ngModelOptions]="{standalone: true}" value="restaurant.cuisine">
	<input type="submit" value="Update Restaurant!">
</form>